@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --whiteColor: #fff;
  --textColor: #333;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a[href] {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 12px;
  text-rendering: optimizeLegibility;

  // background-image: url("../../assets/bg.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
}
